<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!-- Theme Informations -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- Theme Informations -->

  <title>Real Estate-Responsive Theme Page 3</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/style_index.css">
  <link rel="stylesheet" href="/assets/css/common-style.css">
  <!-- Stylesheets -->

  <!-- Icons & Fonts -->
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <!-- Icons & Fonts -->

</head>
<body id="page-top">


<!-- Navigation Section-->
<nav id="nav" class="container-fluid navbar navbar-default navbar-fixed-top">

    <div class="collapse navbar-collapse" id="toggle">
      <ul class="nav navbar-nav" style="display:inherit;">
        <li class="lBorder"><a class="page-scroll" href="#intro">HOME</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">SELLING
            <i class="text-right fa fa-angle-up fa-2x"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="index.html">My Properties</a></li>
            <li><a href="second-theme.html">Credit Simulation</a></li>
            <li><a href="third-theme.html">Estimation</a></li>
            <li><a href="404.html">Contract</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">RENTING
            <i class="text-right fa fa-angle-up fa-2x"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a>My Rents</a></li>
            <li><a href="third-theme.html">Guarantees</a></li>
            <li><a routerLink="/rdv" routerLinkActive="active">My Appointments</a></li>
            <li><a href="third-theme.html">Estimation</a></li>

            <div class="btn-group dropright">
              <button type="button" class="btn">
                Contrat location
              </button>
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropright</span>
              </button>
              <div class="dropdown-menu">
                <li><a routerLink="/achatfront" routerLinkActive="active">ADD</a></li>
                <li><a routerLink="/ctlocation" routerLinkActive="active">SHOW</a></li>
              </div>
            </div>

          </ul>
        </li>

        <li class="lBorder"><a class="page-scroll" href="#contact">FEEDBACK</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">PAGES
            <i class="text-right fa fa-angle-up fa-2x"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="index.html">First theme</a></li>
            <li><a href="second-theme.html">Second Theme</a></li>
            <li><a href="third-theme.html">Third Theme</a></li>
            <li><a href="404.html">Error 404</a></li>
          </ul>
        </li>
        <li class="lBorder"><a class="page-scroll" href="#about">LOGIN</a></li>
        <li class="lBorder"><a class="page-scroll" href="#contact">SIGN UP</a></li>
      </ul>
    </div>

  <!-- Search - end -->
</nav>


<!-- End of Navigation section-->

<!-- Intro Section -->
<header id="intro">
  <div class="intro-box-index">
    <div id="header-carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#header-carousel" class="active" data-slide-to="0"></li>
        <li data-target="#header-carousel" data-slide-to="1"></li>
        <li data-target="#header-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="/assets/img/carousel/car-img1.jpg">
          <div class="carousel-caption caption1">
            <div class="carousel-caption-content">
              <h1>FIND YOUR PROPERTY</h1>
              <p>With us no more accommodation problems</p>
            </div>
            <div class="carousel-caption-btn">
              <a href="#about" class="btn btn-custom page-scroll">LEARN MORE</a>
              <a href="#selling" class="btn btn-carousel page-scroll">GO TO CATALOG</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="/assets/img/carousel/car-img2.jpg">
          <div class="carousel-caption caption2">
            <ul class="title">
              <li class="line"></li>
              <li>FIND PROPERTIES</li>
              <li class="line"></li>
            </ul>
            <div class="logo-box">
              <h1><span>R</span>EAL&nbsp;&nbsp;<span>E</span>STATE</h1>
              <div class="logo"></div>
            </div>
            <p>Scroll for More</p>
            <a href="#selling" class="btn animation page-scroll"><i class="fa fa-angle-down"></i></a>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="/assets/img/carousel/car-img4.jpg">
          <div class="carousel-caption caption3">
            <div class="carousel-caption-content">
              <p>With us no more accommodation problems</p>
              <h1>FIND YOUR PROPERTY</h1>
            </div>
            <div class="carousel-caption-btn">
              <a href="#contact" class="btn btn-custom page-scroll">CONTACT US</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Intro Section -->

<!-- Selling Section -->
<div id="selling" class="container-fluid selling-index">
  <div class="container text-center">
    <ul class="title section-title">
      <li class="line"></li>
      <li><h2>SELLING</h2></li>
      <li class="line"></li>
    </ul>
    <div class="selling-body">
      <div class="tab-content">
        <div id="appartments" class="tab-pane active">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img7.jpg">
                <h5>UT WISI</h5>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img8.jpg">
                <h5>DUIS AUTEM</h5>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img5.jpg">
                <h5>VEL ILLUM</h5>
                <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img6.jpg">
                <h5>SED DIAM</h5>
                <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img1.jpg">
                <h5>VEL ILLUM</h5>
                <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img2.jpg">
                <h5>SED DIAM</h5>
                <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img3.jpg">
                <h5>UT WISI</h5>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>

                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img4.jpg">
                <h5>DUIS AUTEM</h5>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse. </p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#description">BUY</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="tab-btn">
                <a href="" class="btn"><i class="fa fa-ellipsis-h animation"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End of Selling Section -->

<!-- End of Renting Section -->
<div id="renting" class="container-fluid selling-index">
  <div class="container text-center">
    <ul class="title section-title">
      <li class="line"></li>
      <li><h2>RENTING</h2></li>
      <li class="line"></li>
    </ul>
    <div class="selling-body">
      <div class="tab-content">
        <div id="appartments" class="tab-pane active">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img7.jpg">
                <h5>UT WISI</h5>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img8.jpg">
                <h5>DUIS AUTEM</h5>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img5.jpg">
                <h5>VEL ILLUM</h5>
                <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img6.jpg">
                <h5>SED DIAM</h5>
                <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img1.jpg">
                <h5>VEL ILLUM</h5>
                <p>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img2.jpg">
                <h5>SED DIAM</h5>
                <p>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img3.jpg">
                <h5>UT WISI</h5>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="img-block">
                <img class="img-responsive" src="/assets/img/selling-img/sel-img4.jpg">
                <h5>DUIS AUTEM</h5>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse. </p>
                <div class="btn-block">
                  <button class="btn animation" data-toggle="modal" data-target="#rent">RENT</button>
                  <button class="btn animation" data-toggle="modal" data-target="#VISIT">VISIT</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="tab-btn">
                <a href="" class="btn"><i class="fa fa-ellipsis-h animation"></i></a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- End of Renting Section -->


<!-- About Section -->
<div id="about">
  <div class="container-fluid">
    <div class="container text-center">
      <div class="about-index-header">
        <ul class="title section-title">
          <li class="line"></li>
          <li><h2>ABOUT</h2></li>
          <li class="line"></li>
        </ul>
        <p class="text-muted header-para">liquam porttitor leo non nisl</p>
      </div>
      <div class="about-index-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
              <fieldset>
                <input type="radio" name="appartement" [(ngModel)]="estimation.appartement" value="1" [ngModelOptions]="{standalone : true}">appartement
                <input type="radio" name="appartement" [(ngModel)]="estimation.appartement" value="0" [ngModelOptions]="{standalone : true}">maison
              </fieldset>
              <div class="form-group">
                <label>Region</label>
                <select [(ngModel)]="estimation.region" [ngModelOptions]="{standalone : true}">
                  <option value="Tunis">Tunis</option>
                  <option value="Bizerte">Bizerte</option>
                  <option value="Ariana">Ariana</option>
                  <option value="Manouba">Manouba</option>
                  <option value="BenArous">Ben Arous</option>
                  <option value="Zaghouan">Zaghouan</option>
                  <option value="Nabeul">Nabeul</option>
                  <option value="Jendouba">Jendouba</option>
                  <option value="Beja">Beja</option>
                  <option value="Kef">Kef</option>
                  <option value="Siliana">Siliana</option>
                  <option value="Sousse">Sousse</option>
                  <option value="Monastir">Monastir</option>
                  <option value="Mahdia">Mahdia</option>
                  <option value="Kairouan">Kairouan</option>
                  <option value="Kasserine">Kasserine</option>
                  <option value="SidiBouzid">SidiBouzid</option>
                  <option value="Gabes">Gabes</option>
                  <option value="Medenine">Medenine</option>
                  <option value="Tataouine">Tataouine</option>
                  <option value="Tozeur">Tozeur</option>
                  <option value="Gafsa">Gafsa</option>
                  <option value="Kebili">Kebili</option>
                </select>
              </div>
              <label>surface:</label><input type="number" [(ngModel)]="estimation.surface" [ngModelOptions]="{standalone : true}"><label>m²</label>
              <label>nombre de chambre:</label><input type="number" [(ngModel)]="estimation.nbchambres" [ngModelOptions]="{standalone : true}">
              <label>Annee:</label><input type="number" min="1970" max="2022" [(ngModel)]="estimation.annee" [ngModelOptions]="{standalone : true}">
              <fieldset>
                <label>Travaux:</label>
                <input type="radio" name="travaux" [(ngModel)]="estimation.travaux" value="1" [ngModelOptions]="{standalone : true}">Oui
                <input type="radio" name="travaux" [(ngModel)]="estimation.travaux" value="0" [ngModelOptions]="{standalone : true}">Non
              </fieldset>
              <fieldset>
                <label>Standing:</label>
                <input type="radio" name="Standing" [(ngModel)]="estimation.standing" value="1" [ngModelOptions]="{standalone : true}">Haut Standing
                <input type="radio" name="Standing" [(ngModel)]="estimation.standing" value="0" [ngModelOptions]="{standalone : true}">Moyen Standing
              </fieldset>
              <fieldset>
                <label>meubles:</label>
                <input type="radio" name="meubles" [(ngModel)]="estimation.meubles" value="1" [ngModelOptions]="{standalone : true}">Oui
                <input type="radio" name="meubles" [(ngModel)]="estimation.meubles" value="0" [ngModelOptions]="{standalone : true}">Non
              </fieldset>
              <fieldset>
                <label>periode:</label>
                <input type="radio" name="periode" [(ngModel)]="estimation.periode" value="1" [ngModelOptions]="{standalone : true}">Ete
                <input type="radio" name="periode" [(ngModel)]="estimation.periode" value="0" [ngModelOptions]="{standalone : true}">Hors Ete
              </fieldset>
              <button type="submit" (click)="getEstimation(estimation)" >Estimer</button>
              <div *ngIf="EstimationValue">
                <label>Votre bien vaut : {{EstimationValue}}</label>
              </div>
            </div>



        </div>
        <div class="info">
          <ul>

          </ul>
          <div class="tab-content text-left">
            <div id="Appointment" class="tab-pane active">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!
              </p>
            </div>
            <div id="affiliation" class="tab-pane">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
              </p>
            </div>
            <div id="prospecting" class="tab-pane">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of About Section -->

<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="contact-index-header">
    <ul class="title section-title">
      <li class="line"></li>
      <li><h2>CONTACT</h2></li>
      <li class="line"></li>
    </ul>
    <p class="text-muted header-para">liquam porttitor leo non nisl</p>
  </div>
  <div class="contact-index-body container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h3><i class="fa fa-phone"></i> Phone Number</h3>
          <hr class="underline">
          <p>(00228) 92 22 99 54</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3><i class="fa fa-envelope"></i> EMail Address</h3>
          <hr class="underline">
          <p>kouvenceslas93@gmail.com</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3><i class="fa fa-home"></i> Siege Address</h3>
          <hr class="underline">
          <p>Segbe, Rue Akato, Maison Don Peno</p>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-xs-12">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-12 col-sm-4">
                <div class="form-block">
                  <label for="name">Name</label>
                  <input id="name" class="form-control" type="text" name="" placeholder="Name *">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-block">
                  <label for="email">Mail</label>
                  <input id="email" class="form-control" type="text" name="" placeholder="Email Address *">
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-block">
                  <label for="number">Phone Number</label>
                  <input id="number" class="form-control" type="text" name="" placeholder="Phone Number *">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <div class="form-block">
                  <label for="message">Message</label>
                  <textarea id="message" class="form-control" placeholder="Your Message *"></textarea>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-custom">SEND <i class="fa fa-send-o"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Contact Section -->

<!-- Footer Section -->
<footer>
  <div class="row container-fluid">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5><span></span> REAL ESTATE</h5>
        <ul>
          <li><a class="page-scroll" href="#selling">Selling</a></li>
          <li><a class="page-scroll" href="#renting">Renting</a></li>
          <li><a class="page-scroll" href="#about">Leasehold</a></li>
          <li><a class="page-scroll" href="#about">About Us</a></li>
          <li><a data-toggle="modal" href="#contact-form">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>FOLLOW US</h5>
        <ul>
          <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href=""><i class="fa fa-google-plus"></i> Google Plus</a></li>
          <li><a href=""><i class="fa fa-linkedin"></i> Linkedin</a></li>
          <li><a href=""><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>THIS THEMES PAGES</h5>
        <ul>
          <li><a href="index.html">First theme</a></li>
          <li><a href="second-theme.html">Second Theme</a></li>
          <li><a href="third-theme.html">Third Theme</a></li>
          <li><a href="404.html">Error 404</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h5>SUSCRIBE TO OUR RENTLETTER</h5>
        <p>Enter your email adresse to receive our RENTletter!</p>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Your E-mail">
              <span class="input-group-btn">
                   <button type="submit" class="btn"><i class="fa fa-send-o"></i></button>
                 </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-ending text-center">
    <p>&copy; Real Estate Template 2018</p>
  </div>
</footer>
<!-- End of Footer Section -->

<!-- Modal Boxes -->
<!-- house description-->

<div id="VISIT" class="modal fade main-modal"  tabindex="-1" aria-hidden="true">
  <div class="container-fluid row">
    <div class="modal-content col-xs-12 col-sm-6 col-sm-push-3">
      <div class="modal-content-header">
        <i class="fa fa-times animation" data-dismiss="modal"></i>
      </div>
      <div class="modal-content-body">

        <div class="center">
          <form>
            <div class="form-group">
              <label>Date</label>
              <input type="date" [(ngModel)]="rdv.date" [ngModelOptions]="{standalone : true}">
            </div>
            <div class="form-group">
              <label>heur</label>
              <input type="number" [(ngModel)]="rdv.heur" [ngModelOptions]="{standalone : true}">
              <label>h</label>
            </div>

            <div class="form-group">
              <label>Region</label>
              <select [(ngModel)]="rdv.region" [ngModelOptions]="{standalone : true}">
                <option value="Bizerte">Bizerte</option>
                <option value="Ariana">Ariana</option>
                <option value="Manouba">Manouba</option>
                <option value="BenArous">Ben Arous</option>
                <option value="Zaghouan">Zaghouan</option>
                <option value="Nabeul">Nabeul</option>
                <option value="Jendouba">Jendouba</option>
                <option value="Beja">Beja</option>
                <option value="Kef">Kef</option>
                <option value="Siliana">Siliana</option>
                <option value="Sousse">Sousse</option>
                <option value="Monastir">Monastir</option>
                <option value="Mahdia">Mahdia</option>
                <option value="Kairouan">Kairouan</option>
                <option value="Kasserine">Kasserine</option>
                <option value="SidiBouzid">SidiBouzid</option>
                <option value="Gabes">Gabes</option>
                <option value="Medenine">Medenine</option>
                <option value="Tataouine">Tataouine</option>
                <option value="Tozeur">Tozeur</option>
                <option value="Gafsa">Gafsa</option>
                <option value="Kebili">Kebili</option>
              </select>
            </div>

            <div class="form-group">
              <label>Lieu</label>
              <input type="text" class="form-control" name="status" [(ngModel)]="rdv.lieu">
            </div>
            <br>
            <button type="button" class="btn btn-success" (click)="addrdvs(rdv)" data-dismiss="modal">Add</button>
            <button type="button" class="btn btn-info" data-dismiss="modal"  >Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="rent" class="modal fade main-modal"  tabindex="-1" aria-hidden="true">
  <div class="container-fluid row">
    <div class="modal-content col-xs-12 col-sm-6 col-sm-push-3">
      <div class="modal-content-header">
        <i class="fa fa-times animation" data-dismiss="modal"></i>
      </div>
      <div class="modal-content-body">
        <div class="center">
          <form enctype="multipart/form-data">
            <div>
              <label>mois de loyers:</label>
              <input type="number"  [(ngModel)]="depot.moisLoyers" min="1">
            </div>
            <div>
              <label>Somme payé:</label>
              <input type="number"  [(ngModel)]="depot.Somme" >
            </div>
            <div>
              <label>Numero de payment:</label>
              <input type="number"  [(ngModel)]="depot.numeroPayment" >
            </div>
            <br>
            <div>
              <label>CAUTION</label>
              <input type="file" accept="image/*" [(ngModel)]="depot.caution" [ngModelOptions]="{standalone : true}">
            </div>
            <br>
            <div class="form-group">
              <label>Date debut</label>
              <input type="date" [(ngModel)]="location.dateDebut" [ngModelOptions]="{standalone : true}">
            </div>

            <div class="form-group">
              <label>Date fin</label>
              <input type="date" [(ngModel)]="location.dateFin" [ngModelOptions]="{standalone : true}">
            </div>

            <div class="form-group">
              <label>Type de location</label>
              <select class="form-control"  [(ngModel)]="location.typelocation" [ngModelOptions]="{standalone : true}">
                <option value="Temporraire">Temporraire</option>
                <option value="Vacances" >Vacances</option>
                <option value="Year">Year</option>
                <option value="Long_Period" >Long Period</option>
              </select>
            </div>
            <br>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addDepot(depot,depot.caution);addLocation(location,depot)">Add</button>
            <button type="button" class="btn btn-info" data-dismiss="modal"  >Cancel</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- -->
<!-- End of house description-->
<div id="description" class="modal fade main-modal"  tabindex="-1" aria-hidden="true">
  <div class="container-fluid row">
    <div class="modal-content col-xs-12 col-sm-6 col-sm-push-3">
      <div class="modal-content-header">
        <i class="fa fa-times animation" data-dismiss="modal"></i>
      </div>
      <div class="modal-content-body">


      </div>
    </div>
  </div>
</div>
<!-- House Pictures-->
<div id="pictures" class="modal fade main-modal" tabindex="-1" aria-hidden="true">
  <div class="container-fluid row">
    <div class="modal-content col-xs-12 col-sm-8 col-sm-push-2">
      <div class="modal-content-header">
        <i class="fa fa-times animation" data-dismiss="modal"></i>
      </div>
      <div class="modal-content-body">
        <div id="houses-pictures" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img1.jpg">
            </div>
            <div class="item">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img2.jpg">
            </div>
            <div class="item">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img3.jpg">
            </div>
            <div class="item">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img4.jpg">
            </div>
            <div class="item">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img5.jpg">
            </div>
            <div class="item">
              <img class="img-responsive img-thumbnail" src="/assets/img/selling-img/sel-img6.jpg">
            </div>
          </div>
          <a class="direction direction-left animation" href="#houses-pictures" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="direction direction-right animation" href="#houses-pictures" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of House Pictures-->
<!-- End of Modal Boxes -->

<!-- jQuery-->
<script src="/assets/js/jquery.min.js"></script>
<!-- Bootstrap Core Javascript-->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>
