<div class="row">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)"><i class="fa fa-plus"></i></button>
      <br><br>
      <ng-template #mymodal1 let-modal1>
        <div class="modal-header">
          <h4 class="modal-title" >Add new Location</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
            <span aria-hidden="true" (click)="cancel()">×</span>
          </button>

        </div>
        <div class="center">
          <form>
            <div class="form-group">
              <label>Date debut</label>
              <input type="date" [(ngModel)]="location.dateDebut" [ngModelOptions]="{standalone : true}">
            </div>

            <div class="form-group">
              <label>Date fin</label>
              <input type="date" [(ngModel)]="location.dateFin" [ngModelOptions]="{standalone : true}">
            </div>

            <div class="form-group">
              <label>Type de location</label>
              <select class="form-control" name="status" [(ngModel)]="location.typelocation">
                <option value="Temporraire">Temporraire</option>
                <option value="Vacances" >Vacances</option>
                <option value="Year">Year</option>
                <option value="Long_Period" >Long Period</option>
              </select>
            </div>
            <br>
            <button type="button" class="btn btn-success" (click)="addLocation(location)" (click)="modal1.close('Save click')">Add</button>
            <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
          </form>
        </div>
      </ng-template>
      <div class="row">
        <div class="card" class="text-center">
          <table class="table">
            <thead style="background-color: rgb(192, 183, 183);">
            <th>id</th>
            <th>date debut</th>
            <th>date fin</th>
            <th>etat</th>
            <th>Type de location</th>
            <th>Action</th>
            <th>State</th>
            </thead>
            <tbody>
            <tr *ngFor='let location of listLocations'>
              <td>{{location.id}}</td>
              <td>{{location.dateDebut}}</td>
              <td>{{location.dateFin}}</td>
              <td>{{location.etat}}</td>
              <td>{{location.typelocation}}</td>
              <td><button type="button" class="btn btn-outline-primary"
                          (click)="open(mymodal)"><i class="fa fa-edit"></i></button>
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Edit</h4>
                    <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" (click)="cancel()">×</span>

                    </button>

                  </div>
                  <div>
                    <form>
                      <div class="modal-body">
                        <div class="form-group">
                          <label>Date debut</label>
                          <input type="date" [(ngModel)]="location.dateDebut" [ngModelOptions]="{standalone : true}">
                        </div>

                        <div class="form-group">
                          <label>Date fin</label>
                          <input type="date" [(ngModel)]="location.dateFin" [ngModelOptions]="{standalone : true}">
                        </div>

                      </div>

                      <div class="form-group">
                        <label>Type de location</label>
                        <select class="form-control" name="status" [(ngModel)]="location.typelocation" [ngModelOptions]="{standalone : true}" >
                          <option value="Temporraire">Temporraire</option>
                          <option value="Vacances" >Vacances</option>
                          <option value="Year">Year</option>
                          <option value="Long_Period" >Long Period</option>
                        </select>
                      </div>
                      <div class="modal-footer">

                        <button type="button" class="btn btn-info"
                                (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success"(click)="EditLocation(location)" (click)="modal.close('Save click')">Validate</button>
                      </div>
                    </form>
                  </div>
                </ng-template>

                <button type="button" class="btn btn-outline-danger"
                        (click)="DeleteLocation(location.id)"><i class="fa fa-trash"></i></button>
              </td>

              <td><button type="button" class="btn"><i class="fa fa-check" style="font-size:25px;color:green"></i></button>
                <button type="button" class="btn"><i class="fa fa-close" style="font-size:25px;color:red"></i></button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
