<button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
<div id="htmlData">
  <h3 style="text-align: center">Table de depots</h3>
<table class="table">
  <thead style="background-color: rgb(192, 183, 183);">
  <th>id</th>
  <th>nom</th>
  <th>dateDebut</th>
  <th>dateFin</th>
  <th>reglement</th>
  <th>etat</th>
  </thead>
  <tbody>
  <tr *ngFor="let depot of listDepot">
    <td>{{depot.id}}</td>
    <td>{{depot.moisLoyers}}</td>
    <td>{{depot.Somme}}</td>
    <td>{{depot.numeroPayment}}</td>
    <td>{{depot.editedAt}}</td>
    <td>{{depot.etat}}</td>
  </tr>
  </tbody>
</table>
</div>
