<div class="row">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1)">Add new achat</button>
      <br><br>
      <ng-template #mymodal1 let-modal1>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" >Add new achat</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
            <span aria-hidden="true" (click)="cancel()">×</span>
          </button>

        </div>
        <div class="center">
          <form>
            <div class="row" class="col-md-6">
              <input type="date" placeholder="Date Achat" [(ngModel)]="achat.date"
                     [ngModelOptions]="{standalone : true}">
            </div>
            <div class="row" class="col-md-6">
              <input type="text" placeholder="Reglement" [(ngModel)]="achat.etat"
                     [ngModelOptions]="{standalone : true}">
            </div>
            <div class="row" class="col-md-6">
              <input type="text" placeholder="Etat" [(ngModel)]="achat.annonce"
                     [ngModelOptions]="{standalone : true}">
            </div>
            <div class="row" class="col-md-6">
              <input type="text" placeholder="Etat" [(ngModel)]="achat.acheteur"
                     [ngModelOptions]="{standalone : true}">
            </div>
            <br>
            <button type="button" class="btn btn-success" (click)="addAchat(achat)" (click)="modal1.close('Save click')">Add</button>
            <button type="button" class="btn btn-info" (click)="modal1.close('Save click')" >Cancel</button>
          </form>
        </div>
      </ng-template>
      <div class="row">
        <div class="card" class="text-center">
          <table class="table">
            <thead style="background-color: rgb(192, 183, 183);">
            <th>ID</th>
            <th>date</th>
            <th>etat</th>
            <th>acheteur</th>
            <th>annonce</th>
            <th>Edit/Delete</th>
            <th>Confirm/Refuse</th>
            </thead>
            <tbody>
            <tr *ngFor='let achat of  listAchat'>
              <td>{{achat.id}}</td>
              <td>{{achat.date}}</td>
              <td>{{achat.etat}}</td>
              <td>{{achat.acheteur['id']}}</td>
              <td>{{achat.annonce['id']}}</td>
              <td><button type="button" class="btn btn-outline-primary"
                          (click)="open(mymodal)">edit</button>
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" >Edit</h4>
                    <button type="button" class="close" aria-label="Close"
                            (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true" (click)="cancel()">×</span>
                    </button>
                  </div>
                  <div>
                    <form>
                      <div class="modal-body">

                        <div class="row" class="col-md-5">
                          <label>date</label>
                          <input type="date" [(ngModel)]="achat.date" [ngModelOptions]="{standalone : true}" />
                        </div>
                        <div class="row" class="col-md-5">
                          <label>contrat</label>
                          <input type="number" [(ngModel)]="achat.contrat" [ngModelOptions]="{standalone : true}" />
                        </div>


                      </div>


                      <div class="modal-footer">

                        <button type="button" class="btn btn-info"
                                (click)="modal.close('Save click')" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success" (click)="editAchat(achat)" (click)="modal.close('Save click')">Validate</button>
                      </div>
                    </form>
                  </div>
                </ng-template>
                <button type="button" class="btn btn-outline-danger" (click)="deleteAchat(achat.id)">delete</button>
              </td>
              <td>
                <i class="fa fa-check" style="font-size:25px;color:green" (click)="ConfirmAchat(achat.id)"></i>
                <i class="fa fa-close" style="font-size:25px;color:red" (click)="RefuseAchat(achat.id)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
